---
layout: default
bodyclass: thedealers
---


{% include pageheader_narrow.html %}





<div class="row fluidnarrow kiemel">
  <div class="columns">
    <nav class="tabnav">
      <ul class="tabs" data-tab>
        <li class="tab-title"><a href="#">Márkakereskedések</a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="row fluidnarrow kiemel">
  <div class="columns">
    <header class="mainhead">
      <h1 class="mainhead__title">Márkakereskedések</h1>
      <p class="mainhead__discl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quasi accusamus, numquam ipsam ad ipsa voluptatem corrupti aliquam deserunt voluptates placeat voluptas porro dolorum inventore quia!</p>
    </header>
  </div>
</div>


<div class="row fluidnarrow">
	<div class="columns">
    
    <section class="dealers">
      
      <ul class="accordion" data-accordion="">
        <li class="accordion-navigation">
          <div class="panelhead">
            <span class="dealer__name">
              <a href="#panel1" class="togglepanel">Budapest, Bavária Magyarország</a>
            </span>
            <span>Tel.: <a href="tel:+36-30-677-5080">+36-30-677-5080</a></span>
            <span class="dealer__open">
              <a href="#panel1" class="togglepanel"><i class="icon icon--plus"></i></a>
            </span>
          </div>
          <div id="panel1" class="content">
            <div class="row">
              <div class="columns medium-4">  
                <h4>Cím</h4>
                <p>1117 Budapest, Prielle Kornélia utca 4.<br><a href="#">mutasd a térképen</a></p>
                <h4>Honlap, email cím</h4>
                <p><a href="#">suzukiobuda.hu</a><br /><a href="#">info@suzukiobuda.hu</a></p>
              </div>
              <div class="columns medium-4">  
                <h4>Termékek és szolgáltatások</h4>
                <p>Hajómotor-, hajótest- és tartozékértékesítés, szerviz</p>
                <h4>Nyitva tartás</h4>
                <p>H-P: 8:00-16:00</p>
              </div>
              <div class="columns medium-4">  
                <img src="http://placehold.it/640x480" alt="">
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-navigation">
          <div class="panelhead">
            <span class="dealer__name">
              <a href="#panel2" class="togglepanel">Székesfehérvár, Lorem ipsum dolor</a>
            </span>
            <span>Tel.: +36-30-677-5080</span>
            <span class="dealer__open">
              <a href="#panel2" class="togglepanel"><i class="icon icon--plus"></i></a>
            </span>
          </div>
          <div id="panel2" class="content">
            <div class="row">
              <div class="columns medium-4">  
                <h4>Cím</h4>
                <p>1117 Budapest, Prielle Kornélia utca 4.<br><a href="#">mutasd a térképen</a></p>
                <h4>Honlap, email cím</h4>
                <p><a href="#">suzukiobuda.hu</a><br /><a href="#">info@suzukiobuda.hu</a></p>
              </div>
              <div class="columns medium-4">  
                <h4>Termékek és szolgáltatások</h4>
                <p>Hajómotor-, hajótest- és tartozékértékesítés, szerviz</p>
                <h4>Nyitva tartás</h4>
                <p>H-P: 8:00-16:00</p>
              </div>
              <div class="columns medium-4">  
                <img src="http://placehold.it/640x480" alt="">
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-navigation">
          <div class="panelhead">
            <span class="dealer__name">
              <a href="#panel3" class="togglepanel">Pécs, Bavária Magyarország</a>
            </span>
            <span>Tel.: +36-30-677-5080, +36-30-941-7062</span>
            <span class="dealer__open">
              <a href="#panel3" class="togglepanel"><i class="icon icon--plus"></i></a>
            </span>
          </div>
          <div id="panel3" class="content">
            <div class="row">
              <div class="columns medium-4">  
                <h4>Cím</h4>
                <p>1117 Budapest, Prielle Kornélia utca 4.<br><a href="#">mutasd a térképen</a></p>
                <h4>Honlap, email cím</h4>
                <p><a href="#">suzukiobuda.hu</a><br /><a href="#">info@suzukiobuda.hu</a></p>
              </div>
              <div class="columns medium-4">  
                <h4>Termékek és szolgáltatások</h4>
                <p>Hajómotor-, hajótest- és tartozékértékesítés, szerviz</p>
                <h4>Nyitva tartás</h4>
                <p>H-P: 8:00-16:00</p>
              </div>
              <div class="columns medium-4">  
                <img src="http://placehold.it/640x480" alt="">
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-navigation">
          <div class="panelhead">
            <span class="dealer__name">
              <a href="#panel4" class="togglepanel">Város, Cégnév</a>
            </span>
            <span>Tel.: +36-30-677-5080</span>
            <span class="dealer__open">
              <a href="#panel4" class="togglepanel"><i class="icon icon--plus"></i></a>
            </span>
          </div>
          <div id="panel4" class="content">
            <div class="row">
              <div class="columns medium-4">  
                <h4>Cím</h4>
                <p>1117 Budapest, Prielle Kornélia utca 4.<br><a href="#">mutasd a térképen</a></p>
                <h4>Honlap, email cím</h4>
                <p><a href="#">suzukiobuda.hu</a><br /><a href="#">info@suzukiobuda.hu</a></p>
              </div>
              <div class="columns medium-4">  
                <h4>Termékek és szolgáltatások</h4>
                <p>Hajómotor-, hajótest- és tartozékértékesítés, szerviz</p>
                <h4>Nyitva tartás</h4>
                <p>H-P: 8:00-16:00</p>
              </div>
              <div class="columns medium-4">  
                <img src="http://placehold.it/640x480" alt="">
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-navigation">
          <div class="panelhead">
            <span class="dealer__name">Bavária Magyarország</span>
            <span>Tel.: +36-30-677-5080, +36-30-941-7062</span>
            <span class="dealer__open">
              <a href="#panel5" class="togglepanel"><i class="icon icon--plus"></i></a>
            </span>
          </div>
          <div id="panel5" class="content">
            <div class="row">
              <div class="columns medium-4">  
                <h4>Cím</h4>
                <p>1117 Budapest, Prielle Kornélia utca 4.<br><a href="#">mutasd a térképen</a></p>
                <h4>Honlap, email cím</h4>
                <p><a href="#">suzukiobuda.hu</a><br /><a href="#">info@suzukiobuda.hu</a></p>
              </div>
              <div class="columns medium-4">  
                <h4>Termékek és szolgáltatások</h4>
                <p>Hajómotor-, hajótest- és tartozékértékesítés, szerviz</p>
                <h4>Nyitva tartás</h4>
                <p>H-P: 8:00-16:00</p>
              </div>
              <div class="columns medium-4">  
                <img src="http://placehold.it/640x480" alt="">
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-navigation">
          <div class="panelhead">
            <span class="dealer__name">Lorem ipsum dolor</span>
            <span>Tel.: +36-30-677-5080</span>
            <span class="dealer__open">
              <a href="#panel6" class="togglepanel"><i class="icon icon--plus"></i></a>
            </span>
          </div>
          <div id="panel6" class="content">
            <div class="row">
              <div class="columns medium-4">  
                <h4>Cím</h4>
                <p>1117 Budapest, Prielle Kornélia utca 4.<br><a href="#">mutasd a térképen</a></p>
                <h4>Honlap, email cím</h4>
                <p><a href="#">suzukiobuda.hu</a><br /><a href="#">info@suzukiobuda.hu</a></p>
              </div>
              <div class="columns medium-4">  
                <h4>Termékek és szolgáltatások</h4>
                <p>Hajómotor-, hajótest- és tartozékértékesítés, szerviz</p>
                <h4>Nyitva tartás</h4>
                <p>H-P: 8:00-16:00</p>
              </div>
              <div class="columns medium-4">  
                <img src="http://placehold.it/640x480" alt="">
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-navigation">
          <div class="panelhead">
            <span class="dealer__name">Bavária Magyarország</span>
            <span>Tel.: +36-30-677-5080, +36-30-941-7062</span>
            <span class="dealer__open">
              <a href="#panel7" class="togglepanel"><i class="icon icon--plus"></i></a>
            </span>
          </div>
          <div id="panel7" class="content">
            <div class="row">
              <div class="columns medium-4">  
                <h4>Cím</h4>
                <p>1117 Budapest, Prielle Kornélia utca 4.<br><a href="#">mutasd a térképen</a></p>
                <h4>Honlap, email cím</h4>
                <p><a href="#">suzukiobuda.hu</a><br /><a href="#">info@suzukiobuda.hu</a></p>
              </div>
              <div class="columns medium-4">  
                <h4>Termékek és szolgáltatások</h4>
                <p>Hajómotor-, hajótest- és tartozékértékesítés, szerviz</p>
                <h4>Nyitva tartás</h4>
                <p>H-P: 8:00-16:00</p>
              </div>
              <div class="columns medium-4">  
                <img src="http://placehold.it/640x480" alt="">
              </div>
            </div>
          </div>
        </li>
        <li class="accordion-navigation">
          <div class="panelhead">
            <span class="dealer__name">Lorem ipsum dolor</span>
            <span>Tel.: +36-30-677-5080</span>
            <span class="dealer__open">
              <a href="#panel8" class="togglepanel"><i class="icon icon--plus"></i></a>
            </span>
          </div>
          <div id="panel8" class="content">
            <div class="row">
              <div class="columns medium-4">  
                <h4>Cím</h4>
                <p>1117 Budapest, Prielle Kornélia utca 4.<br><a href="#">mutasd a térképen</a></p>
                <h4>Honlap, email cím</h4>
                <p><a href="#">suzukiobuda.hu</a><br /><a href="#">info@suzukiobuda.hu</a></p>
              </div>
              <div class="columns medium-4">  
                <h4>Termékek és szolgáltatások</h4>
                <p>Hajómotor-, hajótest- és tartozékértékesítés, szerviz</p>
                <h4>Nyitva tartás</h4>
                <p>H-P: 8:00-16:00</p>
              </div>
              <div class="columns medium-4">  
                <img src="http://placehold.it/640x480" alt="">
              </div>
            </div>
          </div>
        </li>


      </ul>

   </section>

	</div>
</div>



<section class="mapsection">
  <div class="gmap" id="gmap"></div>
</section>



