---
layout: default
bodyclass: thedealers
---


{% include pageheader_narrow.html %}


<section class="dealers">
	<div class="row">
		<div class="columns large-10 large-centered kiemel">
      <nav class="tabnav">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#">Márkakereskedések</a></li>
        </ul>
      </nav>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas amet nobis quibusdam dolore labore soluta doloremque minus nisi fuga adipisci autem id voluptatum, ipsa eveniet eaque fugit, quis, culpa maiores.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas amet nobis quibusdam dolore labore soluta doloremque minus nisi fuga adipisci autem id voluptatum, ipsa eveniet eaque fugit, quis, culpa maiores.</p>

      <ul class="accordion" data-accordion="">
        <li class="accordion-navigation active">
          <a href="#panel1a" aria-expanded="true">
            Bavária Magyarország
          </a>
          <div id="panel1a" class="content active">
            <ul class="small-block-grid-2 large-block-grid-3 ">
              <li><img src="http://placehold.it/350x150"></li>
              <li><img src="http://placehold.it/350x150"></li>
              <li><img src="http://placehold.it/350x150"></li>
            </ul>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel2a" aria-expanded="false">Accordion 2</a>
          <div id="panel2a" class="content">
            <div class="row">
              <div class="small-6 columns">
                <p>Panel 2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="small-6 columns">
              <img src="http://placehold.it/350x150">
            </div>
          </div>
        </div></li>
        <li class="accordion-navigation">
          <a href="#panel3a" aria-expanded="false">Accordion 3</a>
          <div id="panel3a" class="content">
            Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>
        </li>
      </ul>

              


		</div>
	</div>
</section>



<section class="mapsection">
  <div class="gmap" id="gmap"></div>
</section>



