<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- build:css({app,.tmp}) /css/main.css -->
    <link rel="stylesheet" href="/_bower_components/magnific-popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="_bower_components/OwlCarousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="_bower_components/OwlCarousel/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="_bower_components/OwlCarousel/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->

    <!-- build:js(app) /js/head-scripts.js -->
    <!-- Replace with a custom modernizer build for production -->
    <script src="/_bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body class="{{ page.bodyclass }}">
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="pagetop" class="offcanvas__wrapper">

      {% include mainnav.html %}   
   
      <main id="main" class="main" role="main">
         
        {{ content }}
        
        {% include sitefooter.html %}
      </main>
    </div>
    
    {% include footerscripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
