---
layout: default
bodyclass: thesinglepage
---


{% include pageheader.html %}


<section class="singlepage">
	<div class="row">
		<div class="columns large-10 large-centered kiemel">
    <nav class="tabnav">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="cegtortenet.html">Történet</a></li>
        <li class="tab-title"><a href="#">Ügyfélszolgálat</a></li>
        <li class="tab-title"><a href="#">50th anniversary képek, poszterek</a></li>
        <li class="tab-title"><a href="#">Marine a nagyvilágban</a></li>
      </ul>
    </nav>
			<div class="row">
				<div class="columns large-8 page__content">
					<article class="page page--{{ page.type }} page--single ">
						<header class="page__header">
							<h1 class="page__title">A Suzuki hajómotorok története</h1>
							<div class="lead">
								<p>Az első hajómotorunk 1965-ben készült, így a D55-ös típus megjelenésének 2015-ben ünnepeljük az 50. évfordulóját. Azóta nagy utat tettünk meg, a ma gyártott négyütemű hajómotorjaink páratlanok a piacon. Mérnökeink maguk is lelkes hajósok, és minden idejüket annak szentelik, hogy üzemanyag-hatékony, fejlett technológián alapuló négyütemű hajómotorjainkat a tökélyre fejlesszék, hogy Ön minél több időt tölthessen kellemesen és biztonságosan a vizeken. A könnyű, hordozható DF2.5-től a legerősebb DF300AP-ig minden igényre és stílusra megvan a megfelelő hajómotorunk.</p>
							</div>
						</header>
						<div class="page__content">
							<h3>1965</h3>
							<p>Forgalmazni kezdjük az első Suzuki hajómotort, a D55-ös típust.</p>
							<h3>1966</h3>
							<p> Suzuki megkezdi hajómotorjainak exportját.</p>
							<h3>1979</h3>
							<p>Toyokawában elkészül a hajómotor-összeszerelő üzem, májusban megindul a gyártás.</p>
							<h3>1980</h3>
							<p>A Suzuki elsőként fejleszt ki olaj befecskendezéses rendszert a hajómotorokhoz, és bemutatjuk a DT85OI, a DT115OI, valamint a DT140OI befecskendezős típusainkat.</p>
							<h3>1985</h3>
							<p>Forgalomba hozzuk a DT150 és DT200 típusokat, az első V6-os Suzuki hajómotorokat.</p>
							<h3>1987</h3>
							<p>A DT200 Exante nyeri el elsőként a leginnovatívabb terméknek járó díjat a National Marine Manufacturer's Associationtől (NMMA), a rendezvény szponzorától.</p>
							<h3>1989</h3>
							<p>Forgalomba hozzuk a DT90 és DT100 típusú V4-es Suzuki hajómotorjainkat.</p>
							<h3>1990</h3>
							<p>A DT225 a V6-os motorcsaládunk új tagja. A Suzuki az elektromos befecskendezést a DT225-ös típuson alkalmazza először.</p>
							<h3>1997</h3>
							<p>A Suzuki bemutatja a DF9.9 és a DF15 modelleket, a vállalat első négyütemű hajómotorjait.</p>

							<h3>1998</h3>
							<p>Forgalomba hozzuk a DF40-es és a DF50-es típusainkat, a Suzuki első négyütemű, hengerenkénti 4 szelepes DOHC hajómotorjait. A DF40 és a DF50 elnyeri az International Marine Trades Exposition and Convention (IMTEC) innovációs díját, amivel a Suzuki az első olyan gyártó, aki egymás után kétszer is elnyeri ezt a díjat.</p>

							<h3>2013</h3>
							<p>A DF50AV/60AV nagy tolóerejű hajómotorjaink megjelenése. A legújabb DF150TG/175TG típusok megjelenése a hajómotorjaink között.</p>

							<h3>2015</h3>
							<p>50. évfordulónkhoz közeledve cégünk hajtóereje továbbra is a kihívás és az innováció.</p>

							<p><em>*IBEX: 16. International BoatBuilders' Exhibition and Conference<br>
							*NMMA: National Marine Manufacturers' Association</em></p>

						</div>
					</article>
				</div>
				<div class="large-4 columns page__side">
					{% include sidebar.html %}
				</div>
			</div>
		</div>
	</div>

</section>