---
layout: default
bodyclass: thepricetable
---


{% include pageheader_narrow.html %}


<section class="prices">
	<div class="row fluidnarrow kiemel">
		<div class="columns">
      <nav class="tabnav">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#">Hajómotor és hajótest</a></li>
          <li class="tab-title"><a href="#">Tartozékok</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="row fluidnarrow kiemel">
    <div class="columns">
      <header class="mainhead">
        <div class="row">
          <div class="columns medium-8">
              <div class="mainhead__pre">
                <a href="javascript:window.print();" class="hide-for-print"><i class="icon icon--print"></i> Nyomtatás</a>
              </div>
              <h1 class="mainhead__title">Suzuki hajómotor és hajótest árlista</h1>
              <p class="mainhead__discl">
                Magyar Suzuki Zrt. Hajómotor és hajótest értékesítés.<br>
                Érvényes: 2015. június 3-tól</p>
          </div>
          <div class="columns medium-4">
            <div class="pricehead__logos">
              <img src="img/lb.png" alt="">
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
          

	<div class="row fluidnarrow">
		<div class="columns medium-6 print-6">
			<section class="priceblock">
        <header class="priceblock__header">
          <h2 class="priceblock__title">Suzuki Hajómotorok</h2>
        </header>
				<table class="table table--pricelist">
          <tr><th>Modell</th><th colspan="2">Ajánlott fogyasztói ár ÁFÁVAL</th></tr>
					<tr><td>DF 2.5 S</td><td></td><td>250 000</td></tr>
					<tr><td>DF 2.5 L</td><td></td><td>229 900</td></tr>
					<tr><td>DF 4 S</td><td><span>LEAN BURN</span></td><td>354 900</td></tr>
					<tr><td>DF 4 L</td><td><span>LEAN BURN</span></td><td>359 900</td></tr>
					<tr><td>DF 5 S</td><td><span>LEAN BURN</span></td><td>369 900</td></tr>
					<tr><td>DF 5 L</td><td><span>LEAN BURN</span>, <span class="new">ÚJ MODELL</span></td><td>359 900</td></tr>
          <tr><td>DF 6 S</td><td><span class="new">ÚJ MODELL</span></td><td>369 900</td></tr>
          <tr><td>DF 6 L</td><td><span class="new">ÚJ MODELL</span></td><td>369 900</td></tr>
          <tr><td>DF 8 AS</td><td><span class="new">ÚJ MODELL</span></td><td>679 900</td></tr>
          <tr><td>DF 8 AL</td><td></td><td>689 900</td></tr>
          <tr><td>DF 9.9 BS</td><td></td><td>759 900</td></tr>
          <tr><td>DF 300 APXX*</td><td></td><td>5 899 000</td></tr>
          <tr><td>DF 200 APX*</td><td></td><td>4 354 900</td></tr>
          <tr><td>DF 6 L</td><td><span class="new">ÚJ MODELL</span></td><td>369 900</td></tr>
          <tr><td>DF 8 AS</td><td><span class="new">ÚJ MODELL</span></td><td>679 900</td></tr>
          <tr><td>DF 8 AL</td><td></td><td>689 900</td></tr>
          <tr><td>DF 9.9 BS</td><td></td><td>759 900</td></tr>
          <tr><td>DF 300 APXX*</td><td></td><td>5 899 000</td></tr>
          <tr><td>DF 200 APX*</td><td></td><td>4 354 900</td></tr>
          <tr><td>DF 4 L</td><td></td><td>359 900</td></tr>
          <tr><td>DF 5 S</td><td></td><td>369 900</td></tr>
          <tr><td>DF 5 L</td><td></td><td>359 900</td></tr>
          <tr><td>DF 2.5 S</td><td></td><td>250 000</td></tr>
          <tr><td>DF 2.5 L</td><td></td><td>229 900</td></tr>
          <tr><td>DF 4 S</td><td><span>LEAN BURN</span></td><td>354 900</td></tr>
          <tr><td>DF 4 L</td><td><span>LEAN BURN</span></td><td>359 900</td></tr>
          <tr><td>DF 5 S</td><td><span>LEAN BURN</span></td><td>369 900</td></tr>
          <tr><td>DF 5 L</td><td><span>LEAN BURN</span>, <span class="new">ÚJ MODELL</span></td><td>359 900</td></tr>
          <tr><td>DF 6 S</td><td><span class="new">ÚJ MODELL</span></td><td>369 900</td></tr>
          <tr><td>DF 6 L</td><td><span class="new">ÚJ MODELL</span></td><td>369 900</td></tr>
        </table>
      </section>
    </div>
		<div class="columns medium-6 print-6">
      <section class="priceblock">
        <header class="priceblock__header">
          <h2 class="priceblock__title">Nagy tolóerejú suzuki hajómotorok</h2>
        </header>
        <table class="table table--pricelist">
          <tr><th>Modell</th><th>Ajánlott fogyasztói ár ÁFÁVAL</th></tr>
          <tr><td>DF 300 APXX*</td><td>5 899 000</td></tr>
          <tr><td>DF 200 APX*</td><td>4 354 900</td></tr>
        </table>
        <footer class="priceblock__footer">
          <h2 class="priceblock__title">Modelkódok értelmezése</h2>
          <dl>
            <dt>s</dt>
            <dd>sztenderd hajtóműhossz (15 col)</dd>
            <dt>l</dt>
            <dd>hosszú hajtómű (20 col)</dd>
            <dt>x</dt>
            <dd>extrahosszú hajtómű</dd>
            <dt>xx</dt>
            <dd>ukltrahosszú hajtómű</dd>
            <dt>e</dt>
            <dd>elektromos önindító, kormányrúd</dd>
            <dt>x</dt>
            <dd>extrahosszú hajtómű</dd>
            <dt>r</dt>
            <dd>lektromos önindító, távirányítás</dd>
            <dt>t</dt>
            <dd>elektromos önindító, távirányítás, szervo trimelés és kiemelés</dd>

            <dt>z</dt>
            <dd>ellentétes forgásirány</dd>
            <dt>p</dt>
            <dd>változtatható forgásirány</dd>
            <dt>th</dt>
            <dd>kézikaros változat</dd>
            <dt>*</dt>
            <dd>fekete és fehér színben is elérhető</dd>
          </dl>
        </footer>
      </section>

      <section class="priceblock">
        <header class="priceblock__header">
          <h2 class="priceblock__title">Suzuki Suzumar hajótestek</h2>
        </header>
        <table class="table table--pricelist">
          <tr><th>Modell</th><th>Ajánlott fogyasztói ár ÁFÁVAL</th></tr>
          <tr><td>DS290AL</td><td>899 000</td></tr>
          <tr><td>DS230KIB</td><td>354 900</td></tr>
          <tr><td>DS290AL</td><td>899 000</td></tr>
          <tr><td>DS310VIB</td><td>494 900</td></tr>
          <tr><td>DS290AL</td><td>719 000</td></tr>
          <tr><td>DS230KIB</td><td>554 900</td></tr>
        </table>
      </section>
		</div>
	</div>
</section>

<section class="prices__inforow">
  <div class="row fluidnarrow">
    <div class="columns medium-6 print-6">
      <h2 class="priceblock__title">Flotta</h2>
      <p>Egyedi flotta ajánlatunkért írjon a <a href="mailto:zspeczeli@suzuki.hu">zspeczeli@suzuki.hu</a> email címre, hogy a legkedvezőbb feltételeket biztosíthassa Önnek a Suzuki az egyidőben történő nagyobb darabszámú (minimum 3db) Suzuki hajómotor és/vagy Suzuki Suzumar hajótest vásárlások esetére, az Önhöz legközelebb lévő Suzuki Marine Márkakereskedőnkön keresztül (erre való tekintettel kérjük hogy a megvásárolni kívánt Suzuki típusok megnevezésén túl a címét is pontosan adja meg)</p>
    </div>

    <div class="columns medium-6 print-6">
      <h2 class="priceblock__title">Garancia/Nyilatkozat</h2>
      <p>A Magyar Suzuki Zrt. 3 Év Garanciát Biztosít A Hazai Suzuki Marine Márkakereskedői Hálózatban Vásárolt Hajómotorokra És Hajótestekre!</p>
      <p>A Magyar Suzuki Zrt. fenntartja a jogot az árváltozásra! Az árlista nem minősül ajánlattételnek, tájékoztató jellegű. Az árlistában foglalt típusokat, színeket, változatok specifikációit, árait és elérhetőségét a gyártó bármikor, külön előzetes értesítés nélkül megváltoztathatja. Bővebb információkért kérjük minden esetben forduljon suzuki marine márkakereskedőinkhez!</p>
    </div>
  </div>
</section>



{% include horizultimate.html %}



