---
layout: default
bodyclass: thesingleproduct
---


{% include productheader.html %}


<section class="singleproduct">
	<div class="row">
		<div class="columns large-10 large-centered kiemel">
      <nav class="tabnav">
        <ul class="tabs" data-tab>
          <li class="tab-title active"><a href="#panel1">Műszaki adatok</a></li>
          <li class="tab-title"><a href="#panel2">Háttérképek</a></li>
          <li class="tab-title"><a href="#panel3">Hasonló termékek</a></li>
        </ul>
      </nav>
			<div class="product product--{{ page.type }} product--single ">
        <div class="row">
  				
          <div class="columns medium-7 large-6 singleproduct__content">
				   <table class="table table--productdata">
							<tr><td>Csizmahossz</td><td>S:381 L:508</td></tr>
							<tr><td>Indítás módja</td><td>manuális</td></tr>
							<tr><td>Súly</td><td>S:25,0 L:26,0</td></tr>
							<tr><td>Vezérlés típusa</td><td>OHV 2 szeleppel</td></tr>
							<tr><td>Üzemanyagellátás</td><td>porlasztó</td></tr>
							<tr><td>Hengerek elrendezése/száma</td><td>álló, 1</td></tr>
							<tr><td>Hengerűrtartalom</td><td>138 cm<sup>3</sup></td></tr>
							<tr><td>Furat x Löket</td><td>62 x 46 mm</td></tr>
							<tr><td>Teljesítmény</td><td>3,7 kW</td></tr>
							<tr><td>Maximális fordulatszám</td><td>5.500 fordulat/perc</td></tr>
							<tr><td>Kormányzás</td><td>kormánykar</td></tr>
							<tr><td>Fojtás</td><td>manuális</td></tr>
							<tr><td>Oljaszükséglet</td><td>0,7 liter</td></tr>
							<tr><td>Üzemenyagtank kapacitása</td><td>1,5 l (beépített)</td></tr>
							<tr><td>Gyújtásrendszer</td><td>digitális CDI</td></tr>
							<tr><td>Generátor</td><td>12V 6A (op.)</td></tr>
							<tr><td>Motorálványzat</td><td>csapszeges</td></tr>
							<tr><td>Döntés módja</td><td>kézi emelőkaros</td></tr>
						</table>
					</div>

  				<div class="medium-5 large-6 columns end singleproduct__images">
  					<figure class="product__photo">
  						<a href="/img/bg_home.jpg"><img src="/img/bg_home.jpg" alt=""></a>
  					</figure>
  					<div class="product__thumbs">
  						<a href="/img/bg_home.jpg"><img src="/img/bg_home.jpg" alt=""></a>
  						<a href="/img/bg_home.jpg"><img src="/img/bg_home.jpg" alt=""></a>
  					</div>
  				</div>

        </div>
			</div>


		</div>
	</div>
</section>

<section class="productlinks">
	<div class="row">
    <div class="columns large-10 large-centered">
    	<div class="row">
    		<div class="columns medium-6 large-3">
    			<a href="#" class="productlinks__link">Márkakereskedők</a>
    		</div>
    		<div class="columns medium-6 large-3">
    			<a href="#" class="productlinks__link">Árlista</a>
    		</div>
    		<div class="columns medium-6 large-3">
    			<a href="#" class="productlinks__link">Katalógus</a>
    		</div>
    		<div class="columns medium-6 large-3">
    			<a href="#" class="productlinks__link">Tartozékok</a>
    		</div>
    	</div>
    </div>
	</div>
</section>

<section id="productblock--01" class="productblock productblock--01">
  <div class="row">
    <div class="columns large-10 large-centered">
      <h2 class="productblock__title">40 LE alatti hajómotorok</h2>
    </div>
  </div>
  <div class="row">
    <div class="columns large-10 large-centered">
      <ul class="productlist small-block-grid-2 medium-block-grid-3 xlarge-block-grid-4 xxlarge-block-grid-5">
        {% for i in (1..2) %}
          {% include productlist_elem.html %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% include horizultimate.html %}



