---
layout: default
bodyclass: thevideos
---
{% include pageheader.html %} 



<div class="row">
  <div class="columns large-10 large-centered kiemel">
    <nav class="tabnav">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><a href="#panel1">Videótár</a></li>
        <li class="tab-title"><a href="#">Hirdetések</a></li>
      </ul>
    </nav>
    <header class="videos__head">
      <h1>Suzuki Marine Videók</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim delectus molestiae consequatur rerum reprehenderit ut, quia minus. Harum amet, molestias veniam a nobis totam qui quas, eos quasi, corporis aperiam!</p>
    </header>
  </div>
</div>

  
<section id="videoblock--01" class="mediablock videoblock--01">
  <div class="row">
    <div class="columns large-10 large-centered">
      <header class="mediablock__head">
        <h2 class="mediablock__title">Videók 2015</h2>
      </header>
      <ul class="medialist small-block-grid-2 medium-block-grid-3 xlarge-block-grid-4 xxlarge-block-grid-5">
        {% for i in (1..2) %}
          {% include medialist_videoelem.html %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="videoblock--01" class="mediablock videoblock--01">
  <div class="row">
    <div class="columns large-10 large-centered">
      <header class="mediablock__head">
        <h2 class="mediablock__title">Videók 2014</h2>
      </header>
      <ul class="medialist small-block-grid-2 medium-block-grid-3 xlarge-block-grid-4 xxlarge-block-grid-5">
        {% for i in (1..1) %}
          {% include medialist_videoelem.html %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section id="videoblock--01" class="mediablock videoblock--01">
  <div class="row">
    <div class="columns large-10 large-centered">
      <header class="mediablock__head">
        <h2 class="mediablock__title">Videók 2013</h2>
      </header>
      <ul class="medialist small-block-grid-2 medium-block-grid-3 xlarge-block-grid-4 xxlarge-block-grid-5">
        {% for i in (1..2) %}
          {% include medialist_videoelem.html %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% include horizultimate.html %} 