---
layout: default
title: Suzuki Marine
---

<header class="pageheader pageheader--home">
	<div class="row">
		<div class="small-16 medium-12 large-12 large-push-2 xlarge-10 columns">
			<div class="pageheader__text">
				<h1>It's all great!</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae voluptate eum reiciendis quae temporibus.</p>
			</div>
		</div>
	</div>
</header>
<section class="thetriad thetriad--home">
	<div class="row">

		<div class="small-16 medium-5 large-4 large-push-2 columns">
			<div class="thetriad__elem">
				<h3 class="thetriad__elem__title inversehead"><a href="hajomotorok.html">Hajómotor</a></h3>
				<p class="thetriad__elem__content">
					<a class="thetriad__elem__link" href="hajomotorok.html">
						<img src="img/triad/hajomotor.jpg" alt="">
					</a>
				</p>
			</div>
		</div>

		<div class="small-16 medium-5 large-4 large-push-2 columns">
			<div class="thetriad__elem">
				<h3 class="thetriad__elem__title inversehead"><a href="hajomotorok.html">Hajótest</a></h3>
				<p class="thetriad__elem__content">
					<a class="thetriad__elem__link" href="hajomotorok.html">
						<img src="img/triad/hajotest.jpg" alt="">
					</a>
				</p>
			</div>
		</div>

		<div class="small-16 medium-5 large-4 large-push-2 end columns">
			<div class="thetriad__elem">
				<h3 class="thetriad__elem__title inversehead"><a href="hajomotorok.html">Kiegészítők</a></h3>
				<p class="thetriad__elem__content">
					<a class="thetriad__elem__link" href="hajomotorok.html">
						<img src="img/triad/tartozekok.jpg" alt="">
					</a>
				</p>
			</div>
		</div>

	</div>
</section>

<section class="home__blog">
	<div class="row">
		<div class="large-10 xlarge-8 xlarge-push-2 columns">
			<section class="home__news">
					<div class="row">
						<div class="small-16 columns">
							<h3 class="home__news__title inversehead">Hírek</h3>
						</div>
					</div>
					{% for post in site.posts limit:4 %}
						 {% include posttile.html %}
					{% endfor %}
			</section>
		</div>
		<div class="large-6 xlarge-4 xlarge-push-2 columns end">
			<aside class="sidebar">


				<div class="widget widget--sidebar">
					<div class="widget__content">
						<img src="/img/ultimate.png" alt="">
					</div>
				</div>

				<div class="widget widget--sidebar">
					<div class="widget__content">
						<img src="/img/50th.png" alt="">
					</div>
				</div>


				<div class="widget widget--sidebar">
					<h3 class="widget__title inversehead">Feliratkozás hírlevélre</h3>
					<div class="widget__content">
						<p>Amennyiben szeretne mindig naprakész információkkal rendelkezni híreinkről és legújabb akcióinkról, kérjük iratkozzon fel hírlevelünkre.</p>
						<form action="#">
							<div class="formelemwrapper">
								
								<input name="newsletter__email" type="email" placeholder="Adja meg emailcímét">
								<label for="newsletter__email">Adja meg emailcímét</label>
							</div>
							<a href="#" class="btn">Feliratkozás</a>

						</form>
					</div>
				</div>


			</aside>
		</div>
	</div>
</section>

