<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/_bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
<!-- build:js(app) /js/script.js -->
<script src="/_bower_components/foundation/js/foundation/foundation.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.abide.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.accordion.js"></script>
<script src="/_bower_components/foundation/js/foundation/foundation.tab.js"></script>
<script src="/_bower_components/OwlCarousel/owl-carousel/owl.carousel.js"></script>
<script src="/_bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/_bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
<script src="/_bower_components/jquery.localScroll/jquery.localScroll.js"></script>
<script src="/_bower_components/OwlCarousel/owl-carousel/owl.carousel.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<!-- endbuild -->