<section class="toprow">
	<div class="row collapse">
		<div class="large-2 columns">
			<div class="row collapse">
				<div class="columns small-4 medium-2 large-6">
				<a href="#"><img src="http://placehold.it/500x500/?text=suzuki" alt=""></a>
				</div>
				<div class="columns small-4 medium-2 large-6 end">
				<a href="#"><img src="http://placehold.it/500x500/?text=wayoflife" alt=""></a>
				</div>
			</div>
		</div>
		<div class="large-8 columns">
			dupla nvigáció
		</div>
		<div class="large-2 columns">
			<a href="#"><img src="http://placehold.it/500x250/?text=marine" alt=""></a>
		</div>
	</div>
</section>