<section class="toprow">
	<div class="toprow__inner">
		<div class="toprow__logoblock">
			<a href="#"><img src="http://placehold.it/500x500/?text=suzuki" alt=""></a>
			<a href="#"><img src="http://placehold.it/500x500/?text=wayoflife" alt=""></a>
		</div>
		<div class="toprow__mainnavigation">
			<nav class="secnav">
				<ul>
					<li><a href="#">Árak</a></li>
					<li><a href="#">Márkakereskedők</a></li>
					<li><a href="#">Rólunk</a></li>
				</ul>
			</nav>
			<nav class="prinav">
				<ul>
					<li><a href="#">Hajómotor</a></li>
					<li><a href="#">Hajótest</a></li>
					<li><a href="#">Tartozék</a></li>
				</ul>
			</nav>
		</div>
		<div class="toprow__division">
			<a href="#" class="division__toggle">Marine</a>
		</div>
	</div>

</section>