<section class="toprow">
	<div class="toprow__inner">
		<div class="toprow__logoblock">
			<a class="toprow__suzukilogo" href="index.html">SUZUKI</a>
			<a href="#" class="toprow__wayoflifelogo">Way of Life!</a>
		</div>
		<label class="navtoggle hide-for-large-up" for="navtoggle">Menu</label>
		<input class="dontshow" type="checkbox" id="navtoggle" name="navtoggle">
		<div class="siteheader__tohide">
			<div class="toprow__mainnavigation">
				<nav class="secnav">
					<ul>
						<li><a href="arak.html">Árlista</a></li>
						<li><a href="#">Márkakereskedők</a></li>
						<li><a href="#">Flotta</a></li>
						<li><a href="#">Videótár</a></li>		
						<li><a href="katalogus.html">Katalógusok</a></li>
						<li><a href="#">Tesztek</a></li>
						<li><a href="#">Lean Burn</a></li>
						<li><a href="#">Rólunk</a></li>


					</ul>
				</nav>
				<nav class="prinav">
					<ul>
						<li><a href="hajomotorok.html">Hajómotor</a></li>
						<li><a href="hajomotorok.html">Hajótest</a></li>
						<li><a href="hajomotorok.html">Tartozék</a></li>
					</ul>
				</nav>
				<div class="toprow__division ">
					<a href="#" class="division__toggle">Marine</a>
				</div>
			</div>

		</div>
	</div>
</section>