<li class="medialist__elem">
	<div class="eleminner">
		<a href="df25.html">
			<img src="http://placehold.it/480x640/005aab" alt="">
		</a>
		<footer class="medialist__elem__footer">	
			<h3 class="medialist__elem__title">Suzuki Marine Hajómotor Katalógus 2015</h3>
			<a class="mediaelemdl" href="#">Letöltés (PDF, 1.2MB)</a>
		</footer>
	</div>
</li>
<li class="medialist__elem">
	<div class="eleminner">
		<a href="#">
			<img src="http://placehold.it/480x640/003145" alt="">
		</a>
		<footer class="medialist__elem__footer">
			<h3 class="medialist__elem__title">Suzuki Marine Kiegészítő Alkatrész Katalógus 2015</h3>
			<a class="mediaelemdl" href="#">Letöltés (PDF, 3.6MB)</a>
		</footer>
	</div>
</li>
<li class="medialist__elem">
	<div class="eleminner">
		<a href="#">
			<img src="http://placehold.it/480x640/000" alt="">
		</a>
		<footer class="medialist__elem__footer">
			<h3 class="medialist__elem__title">Suzuki Moduláris Műszerrendszer 2015</h3>
			<a class="mediaelemdl" href="#">Letöltés (PDF, 12.1MB)</a>
		</footer>
	</div>
</li>
