<li class="medialist__elem">
	<div class="eleminner">
		<a href="https://www.youtube.com/watch?v=hlVA56Z8hRE" class="videopopup">
			<img src="http://placehold.it/768x480/005aab" alt="">
		</a>
		<footer class="medialist__elem__footer">	
			<h3 class="medialist__elem__title">Suzuki Marine napjainkban</h3>
		</footer>
	</div>
</li>
<li class="medialist__elem">
	<div class="eleminner">
		<a href="https://www.youtube.com/watch?v=Ai5s84qPQ-Y" class="videopopup">
			<img src="http://placehold.it/768x480/003145" alt="">
		</a>
		<footer class="medialist__elem__footer">
			<h3 class="medialist__elem__title">Suzuki Marine 50th Anniversary</h3>
		</footer>
	</div>
</li>
<li class="medialist__elem">
	<div class="eleminner">
		<a href="https://www.youtube.com/watch?v=i096o1u8XnY" class="videopopup">
			<img src="http://placehold.it/768x480/000" alt="">
		</a>
		<footer class="medialist__elem__footer">
			<h3 class="medialist__elem__title">Suzuki DF300AP</h3>
		</footer>
	</div>
</li>
