<article class="post post--tile post--{{ post.type }}">
	<div class="row collapse">
		<div class="medium-6 medium-push-10 columns">
			<figure class="post__figure">
				<a href="{{ post.url }}">
					<img src="http://lorempixel.com/640/480/sports" width="640" height="480" alt="{{ post.title }}">
				</a>
			</figure>
		</div>
		
		<div class="medium-10 medium-pull-6 columns">
			<header class="post__header">
				<h3 class="post__title">
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h3>
				<time class="post__time">{{ post.date | date_to_string }}</time>
				<div class="post__content">
					{{ post.excerpt }}
				</div>
				<a class="post__coverlink" href="{{ post.url }}"></a>
			</header>
		<div class="medium-6 columns">
	
	</div>
</article>