<article class="post post--tile post--{{ post.type }}">
	<div class="row">
		<div class="medium-4 medium-push-8 columns">
			<figure class="post__figure">
				<a href="#">
					<img src="http://placehold.it/640x480/003145" alt="{{ post.title }}">
				</a>
			</figure>
		</div>
		
		<div class="medium-8 medium-pull-4 columns">
			<header class="post__header">
				<h3 class="post__title">
					<a href="#">{{ post.title }}</a>
				</h3>
				<time class="post__time">{{ post.date | date_to_string }}</time>
				<div class="post__content">
					{{ post.excerpt }}
				</div>				
			</header>

		</div>
	<a class="post__bottomlink" href="#">Bővebben &hellip;</a>
	</div>
</article>