<li class="productlist__elem">
	<div class="eleminner">
		<a href="df25.html">
			<img src="img/motor_vagott.png" alt="">
		</a>
		<h3 class="productlist__elem__title inversehead">
			<a href="df25.html">DF-30A</a>
		</h3>
	</div>
</li>
<li class="productlist__elem">
	<div class="eleminner">
		<a href="df25.html">
			<img src="img/motor_vagott.png" alt="">
		</a>
		<h3 class="productlist__elem__title inversehead">
			<a href="df25.html">DA-8BA</a>
		</h3>
	</div>
</li>
<li class="productlist__elem">
	<div class="eleminner">
		<a href="df25.html">
			<img src="img/motor_vagott.png" alt="">
		</a>
		<h3 class="productlist__elem__title inversehead">
			<a href="df25.html">DF50AV-60AV</a>
		</h3>
	</div>
</li>