<aside class="sidebar">
  
  <div class="row">
    <div class="columns medium-6 large-12">
      <div class="widget widget--sidebar">
        <img src="http://placehold.it/640x480/?text=Banner+Placeholder" alt="">
      </div>
    </div>

    <div class="columns medium-6 large-12">
      <div class="widget widget--sidebar">
        <img src="http://placehold.it/640x480/000000/?text=Banner+Placeholder" alt="">
      </div>
    </div>

  </div>
  
<!--   <div class="row">
    <div class="columns">
      <div class="widget widget--sidebar">
        <h3 class="widget__title inversehead">Feliratkozás hírlevélre</h3>
        <div class="widget__content">
          <p>Amennyiben szeretne mindig naprakész információkkal rendelkezni híreinkről és legújabb akcióinkról, kérjük iratkozzon fel hírlevelünkre.</p>
          <form action="#">
            <div class="formelemwrapper">
              <label for="newsletter__email">Adja meg emailcímét</label>          
              <input name="newsletter__email" type="email" placeholder="Adja meg emailcímét">
            </div>
            <a href="hirlevel.html" class="button large expanded">Feliratkozás</a>
          </form>
        </div>
      </div>
    </div>
  </div> -->








</aside>