<header class="sitefooter">
	<div class="row collapse row-felso fullWidth">
		<div class="columns medium-6 xlarge-8 xxlarge-6">		
			<div class="sitefooter__light">
				<ul class="footerlinks footerlinks--left">
					<li><a href="#">Autó</a></li>
					<li><a href="#">Motor</a></li>
					<li><a href="#">Marine</a></li>
					<li><a href="#">Suzuki Zrt.</a></li>
				</ul>
			</div>
		</div>
		<div class="columns medium-6 xlarge-4 xxlarge-6">
			<ul class="footerlinks footerlinks--right">
				<li><a href="#">Suzuki Europe</a></li>
				<li><a href="#">Suzuki USA</a></li>
				<li><a href="#">Suzuki Global</a></li>
			</ul>
		</div>
	</div>

	<div class="row fullWidth">
		<div class="columns">
			<div class="footerbottom">
				&copy; 2015 Suzuki Zrt. | Lorem ipsum
			</div>
		</div>
	</div>

</header>