<header class="sitefooter">
	<div class="wrapper wrapper--wide">
		<div class="sitefooter__disclaimer">
			<a href="#">Disclaimer: Cautionary Statement Regarding Forward-Looking Statements</a>
		</div>
		<div class="sitefooter__links">
			<ul class="footerlinks">
				<li><a href="#">GE.com</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact Information</a></li>
				<li><a href="#">Privacy Policy</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Email to editors</a></li>
				<li><a href="#">&copy; GE Company</a></li>
			</ul>
		</div>
	</div>
</header>