<div class="master-slider ms-skin-default" id="masterslider">

    <div class="ms-slide">
        <img src="/img/blank.gif" data-src="http://lorempixel.com/620/400" alt="Lorem ipsum"/>
        <img src="http://lorempixel.com/620/400" alt="Lorem ipsum" class="ms-thumb"/>
        <div class="ms-info">Lorem ipsum</div>
    </div>

    <div class="ms-slide">
        <img src="/img/blank.gif" data-src="http://lorempixel.com/822/401" alt="Lorem ipsum"/>
        <img src="http://lorempixel.com/822/401" alt="Lorem ipsum" class="ms-thumb"/>
        <div class="ms-info">Lorem ipsum</div>
    </div>

    <div class="ms-slide">
        <img src="/img/blank.gif" data-src="http://lorempixel.com/624/402" alt="Lorem ipsum"/>
        <img src="http://lorempixel.com/624/402" alt="Lorem ipsum" class="ms-thumb"/>
        <div class="ms-info">Lorem ipsum</div>
    </div>

    <div class="ms-slide">
        <img src="/img/blank.gif" data-src="http://lorempixel.com/620/400" alt="Lorem ipsum"/>
        <img src="http://lorempixel.com/620/400" alt="Lorem ipsum" class="ms-thumb"/>
        <div class="ms-info">Lorem ipsum</div>
    </div>

    <div class="ms-slide">
        <img src="/img/blank.gif" data-src="http://lorempixel.com/628/404" alt="Lorem ipsum"/>
        <img src="http://lorempixel.com/628/404" alt="Lorem ipsum" class="ms-thumb"/>
        <div class="ms-info">Lorem ipsum</div>
    </div>

</div>