@font-face {
  font-family: 'SuzukiPRORegular';
  src: url('SuzukiPRORegular.eot');
  src: url('SuzukiPRORegular.eot?#iefix') format('embedded-opentype'),
       url('SuzukiPRORegular.woff2') format('woff2'),
       url('SuzukiPRORegular.woff') format('woff'),
       url('SuzukiPRORegular.ttf') format('truetype'),
       url('SuzukiPRORegular.svg#SuzukiPRORegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

