// *, *:before, *:after {
//   box-sizing: border-box;
// }

// img {
//   max-width: 100%;
//   height:auto;
// }

html {
//	overflow-y: auto;
//	min-height: 100%;
//	text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

// body {
// 	overflow-x:hidden;
// 	background-color: $white;
// 	color:$pridark;
// 	font-family: $sans-serif;
// 	font-size: 16px;
// 	font-weight: 300;
// 	line-height: 1.286;
// 	@include bp($s3){
// 		font-size: 18px;
// 	}
// 	@include bp($s4){
// 		font-size: 20px;
// 	}
// 	@include bp($s5){
// 		font-size: 22px;
// 	}
// }



figure {
	margin:0 0 rem-calc(20) 0;
}

figcaption {
	font-size: .875em;
	margin-top: .25em;
	font-style: italic;
}


blockquote {
	background-color: $gray-xlight;
	padding:1em;
}


table {
	width:100%;
}

tr:nth-of-type(2n) {
	background-color: $blue-xlight;
}
td,th {
	padding:.666em .75em;
	line-height: 1.2;
	span {
		font-size: .875em;
		font-weight: 900;
		//display:inline-block;
	}
	.new {
		color:$red;
	}
}
th {
	font-weight: 900;
	text-align: left;
}


dl {
	margin:0 0 rem-calc(20) 0;
	dt {
  	display: inline-block;
		min-width: 2em;
		text-transform: uppercase;
		&:after {
			content:":";
		}
	}
	dd {
		display: inline;
  	margin: 0;
		&:after {
			display: block;
			content: '';
		}
	}
}


/********Typography******/
.inversehead {
	display: inline-block;
	font-family: $suzukipro;

	background-color: $blue-dark;
	color:#fff;
	padding:.333em .5em;
	font-size: 1.5em;
	line-height: 1;
	font-weight: 900;
	text-transform: uppercase;
	@media #{$xlarge-up} {
		font-size: 2em;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}

.thetriad {
	@include clearfix();
}
.thetriad__elem {
	@include clearfix();
	margin:2em auto;
	max-width: 25em;
	@media #{$xlarge-up} {
		max-width: none;
	}
}

.thetriad__elem__title {
	margin: 0;
	&:hover,&:focus {
		background-color: $blue-light;
	}
}

.thetriad__elem__content {
	margin:0;
}

.thetriad__elem__link {
	display: block;
	position: relative;
	&:hover, &:focus {
		&:before {
			content: '';
			position: absolute;
			top:0;right:0;bottom:0;left:0;
			display: block;
			background-color: rgba($blue-light,.75);
		}
	}
	img {
		display: block;
	}
}


.kiemel {
	@include clearfix();
	background-color: #fff;
	//background-color: red;
	@media #{$large-up} {
		margin-top: -2em;
	}
}