/*****************
 Color Definitions
 *****************/

$gray-xlight: #f7f7f7;
$gray-light: #d7d7d7;
$gray-dark: #9c9c9c;
$gray-xdark: #414141;

$white-input: #eeeeef;

$red:#e01a22; // red
$red-dark:#900006;
$red-link: #ff3000;

$blue:#a0d4ff;
$blue-light:#005aab;
$blue-dark: #003145;
$blue-xlight: #f3f6f8;



/*********************
 Breakpoints and width
 *********************/

$s0: 320px;
$s1: 480px;
$s2: 768px;
$s3: 1024px;
$s4: 1280px;
$s5: 1600px;

$narrowmax: 890px;
$normalmax: 1140px;
$widemax: 1600px;


