.thedealers .pageheader {
  background-image: url('../img/girl.jpg');
}


.dealers {
  padding:0 0 6em;
}
.mapsection {
  min-height: 33.333vh;
  background-color: $gray-dark;
}


.accordion {
  margin: 0;
  padding: 0; 

  .accordion-navigation  {
    display: block;
    border-bottom: 1px solid #fff;
    &:nth-child(2n+1) {
      background-color: $blue-xlight;
    }
    > a {
      position: relative;
      z-index: 1;
      padding:rem-calc(12) 0;
      font-weight: 700;
      line-height: 1;
      
      &:hover,&:focus {
        text-decoration: none;
      }
      


      span {
        display: inline-block;
        //float:left;
        padding:rem-calc(4) rem-calc(16);

        a {
          color:$red-link;
          padding:0;
          display: inline;
          z-index:2;
        }
      }
    }
  
    .content {
      *:first-child {
        margin-top: 0;
      }
      h4 {
        font-size: 1em;
      }
      padding-left: 4em;
    }
  }
}


.panelhead {
  @include clearfix();
  position: relative;
  //padding:rem-calc(12) 0;
  line-height: 1;
  font-weight: 700;
  width: 100%;
  &:hover, &:focus {
    background-color: $blue-no;
  }

  .active & {
    background-color: $blue;
  }

  span {
    display: block;
    float:left;
    padding:rem-calc(16) rem-calc(16);

    a {
      color:$blue-dark;
      padding:0;
      display: inline;
      z-index:2;
      &:hover {
        color: $blue-light;
        text-decoration: none;
      }
    }
  }
}


.panelhead {
  .dealer__no {
    background-color: $blue-no;
    padding:rem-calc(16) rem-calc(12) rem-calc(16) rem-calc(4);
    min-width: 3em;
    text-align: right;
    //color:#000;
    display: block;
    float:left;
    border-right: 1px solid #fff;
    .active & {
      background-color: transparent;
      border-right-color: transparent;
    }    
  }

  .dealer__name {
    text-transform: uppercase;
    min-width: 33.333%;
    font-weight: 900;
    font-size: 1.125em;
    padding:rem-calc(16) rem-calc(14) rem-calc(14);
    .togglepanel {
      color:inherit !important;
    }

  }

  .dealer__open {
    position: absolute;
    right:rem-calc(-4);
    top:rem-calc(-4);
    .togglepanel {

      font-size: 1.666em;
      font-weight: 400;
      color:$blue-light;
      &:hover {
        text-decoration: none;
        color:$red-link;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }

  .togglepanel {
      //color:inherit !important;
      &:hover {
        text-decoration: none;
        color:inherit;
      }
      &:focus {
        text-decoration: none;
      }
    }

  .active .togglepanel {
    i {
      &:before {
        content:"\e6e8";
      }
    }
  }
}