.sitefooter {
	//margin-top: 4em;
	//background-color: $gray-light;
	.row-felso {
		background-color: $gray-xlight;
	}
}

.footerlinks {
	@include clearfix();
	list-style-type: none;
	margin:0 0;
	padding:0 0;
	li {
		display: block;
		float:left;

		margin:0;
		padding:0;
		a {
			display: inline-block;
			padding:1rem 1rem .75rem 1rem;
			text-transform: uppercase;
			font-size:1em;
			line-height: 1;
			color:$gray-xdark;
			border-bottom: 2px solid transparent;
			@media #{$xlarge-up} {
			}
			&:hover, &:focus {
				color:$red-link;
				text-decoration: none;
				border-bottom: 2px solid currentColor;
			}
		}
	}
}

.footerlinks--right {
	background-color: $gray-light;
	@media #{$xlarge-up} {
		//text-align: right;
	}

	li {
		a {
			&:hover, &:focus {
				color:$red;
			}
		}
	}
}

.footerbottom {
	padding:1rem 0 2rem;
	font-size: .875em;
}