.row {
	@include clearfix();
}

.col {
	@include clearfix();
	padding:.75rem .75rem;
	@include bp($s2) {
		float:left;
		padding:.75rem .75rem;
	}
}


.col--4 {
	@include bp($s2) {
		width:33.333%;
	}
}

.hideonmobile {
	display: none;
	@include bp($s2) {
		display: block;
	}
}