.pageheader {
	@include clearfix();
	position: relative;
	background-color: $blue-dark;
	color:#fff;
	background-repeat: no-repeat;
	background-position: center top;	
	background-attachment: local;
	background-size: cover;
}

.pageheader__text {
	@include clearfix();
	text-shadow: 2px 4px 10px rgba(#000, 0.75);
	margin:3em 0 6em;

	@media #{$medium-up} {
		margin:6em 0 10em;
		.pageheader--narrow &{
			margin:3em 0 6em;
		}
	}
	@media #{$large-up} {
		margin:7em 0 13em;
		.pageheader--narrow &{
			margin:3em 0 9em;
		}
	}

	@media #{$xlarge-up} {
		margin:8em 0 15em;
		.pageheader--narrow &{
			margin:4em 0 9em;
		}
	}

	h1 {
		color:#fff;
		font-family: $suzukipro;		
		font-weight: 900;
		font-size: 3em;
		line-height: 1.2;
		text-transform: uppercase;
		margin: 0 0;
		@media #{$xlarge-up} {
			font-size: 5em;
		}
		@media #{$xxlarge-up} {
			font-size: 8em;
		}

	}
	p {
		font-family: $suzukipro;
		font-size: 1.5em;
		line-height: 1.2;
		font-weight: 900;
		margin: 0 0;
		max-width: 27em;

		@media #{$xlarge-up} {
			font-size: 2em;
		}
		@media #{$xxlarge-up} {
			font-size: 3em;
		}
	}


}



/****slider ***/
.owl-controls {
	z-index: 1;
	position: absolute;
	left:0;
	width:100%;
	bottom:rem-calc(48);

	@media #{$medium-up} {
			bottom:rem-calc(80);
		}
	@media #{$large-up} {
		bottom:23%;
	}
	.owl-pagination {

	}
}



/**** Main Header */



.mainhead {
  padding: rem-calc(32) 0;
	.kiemel & {
		padding: rem-calc(48) 0 rem-calc(32) 0;
	}
}
.mainhead__discl {
  margin-top: rem-calc(20);
  //font-weight: 700;
  //font-size: rem-calc(20);
}

.mainhead__title {
  text-transform: uppercase;
  margin-top:0;
  font-size: rem-calc(48);
}
