.home .main {
	@include clearfix();
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 50% auto;
	background-attachment: fixed;
	background-image: url('../img/bg_motor_light.jpg');
}

.home__blog {
	

	margin:2em 0;
	padding-bottom: 4em;
}

.thetriad--home {
	margin-top: -6em;
	@media #{$medium-up} {
		margin-top: -6em;
	}
	@media #{$large-up} {
		margin-top: -10em;
	}
}
.pageheader--home {
	background-image: url('../img/hero_home.jpg');
	//background-position: center -1rem;
	//background-size:cover;

}