.thehome .main {
	@include clearfix();
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 50% auto;
	background-attachment: fixed;
	//background-image: url('../img/bg_motor_light.jpg');
}

.home__news {
	margin:1em 0;
}
.home__blog {

	margin:0 0;
	padding-bottom: 4em;
}

.thetriad--home {
	//margin-top: -6em;
	// @media #{$medium-up} {
	// 	margin-top: -2em;
	// }
	// @media #{$large-up} {
	// 	margin-top: rem-calc(-48);
	// }
}
.thehome .pageheader {
	background-image: url('../img/hero_home.jpg');
	//background-position: center -1rem;
	//background-size:cover;

}

.home__morelink {
	margin-top: rem-calc(32);
}