.home__blog {
	background-image: url('../img/bg_home.jpg');
	background-repeat: no-repeat;
	background-position: right bottom;
	//background-attachment: fixed;
	background-size: auto 100vh;
}


.pageheader--home {
	background-image: url('../img/hero_home.jpg');
}