@font-face {
  font-family: 'suzuki';
  src:url('../fonts/suzuki.eot?-bs0556');
  src:url('../fonts/suzuki.eot?#iefix-bs0556') format('embedded-opentype'),
    url('../fonts/suzuki.ttf?-bs0556') format('truetype'),
    url('../fonts/suzuki.woff?-bs0556') format('woff'),
    url('../fonts/suzuki.svg?-bs0556#suzuki') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'suzuki';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--assets:before {
  content: "\e600";
}
.icon--dealers:before {
  content: "\e601";
}
.icon--pricelist:before {
  content: "\e602";
}
.icon--newsletter:before {
  content: "\e603";
}
.icon--catalogue:before {
  content: "\e604";
}
.icon--add-to-list:before {
  content: "\e605";
}
.icon--classic-computer:before {
  content: "\e606";
}
.icon--controller-fast-backward:before {
  content: "\e607";
}
.icon--creative-commons-attribution:before {
  content: "\e608";
}
.icon--creative-commons-noderivs:before {
  content: "\e609";
}
.icon--creative-commons-noncommercial-eu:before {
  content: "\e60a";
}
.icon--creative-commons-noncommercial-us:before {
  content: "\e60b";
}
.icon--creative-commons-public-domain:before {
  content: "\e60c";
}
.icon--creative-commons-remix:before {
  content: "\e60d";
}
.icon--creative-commons-share:before {
  content: "\e60e";
}
.icon--creative-commons-sharealike:before {
  content: "\e60f";
}
.icon--creative-commons:before {
  content: "\e610";
}
.icon--document-landscape:before {
  content: "\e611";
}
.icon--remove-user:before {
  content: "\e612";
}
.icon--warning:before {
  content: "\e613";
}
.icon--arrow-bold-down:before {
  content: "\e614";
}
.icon--arrow-bold-left:before {
  content: "\e615";
}
.icon--arrow-bold-right:before {
  content: "\e616";
}
.icon--arrow-bold-up:before {
  content: "\e617";
}
.icon--arrow-down:before {
  content: "\e618";
}
.icon--arrow-left:before {
  content: "\e619";
}
.icon--arrow-long-down:before {
  content: "\e61a";
}
.icon--arrow-long-left:before {
  content: "\e61b";
}
.icon--arrow-long-right:before {
  content: "\e61c";
}
.icon--arrow-long-up:before {
  content: "\e61d";
}
.icon--arrow-right:before {
  content: "\e61e";
}
.icon--arrow-up:before {
  content: "\e61f";
}
.icon--arrow-with-circle-down:before {
  content: "\e620";
}
.icon--arrow-with-circle-left:before {
  content: "\e621";
}
.icon--arrow-with-circle-right:before {
  content: "\e622";
}
.icon--arrow-with-circle-up:before {
  content: "\e623";
}
.icon--bookmark:before {
  content: "\e624";
}
.icon--bookmarks:before {
  content: "\e625";
}
.icon--chevron-down:before {
  content: "\e626";
}
.icon--chevron-left:before {
  content: "\e627";
}
.icon--chevron-right:before {
  content: "\e628";
}
.icon--chevron-small-down:before {
  content: "\e629";
}
.icon--chevron-small-left:before {
  content: "\e62a";
}
.icon--chevron-small-right:before {
  content: "\e62b";
}
.icon--chevron-small-up:before {
  content: "\e62c";
}
.icon--chevron-thin-down:before {
  content: "\e62d";
}
.icon--chevron-thin-left:before {
  content: "\e62e";
}
.icon--chevron-thin-right:before {
  content: "\e62f";
}
.icon--chevron-thin-up:before {
  content: "\e630";
}
.icon--chevron-up:before {
  content: "\e631";
}
.icon--chevron-with-circle-down:before {
  content: "\e632";
}
.icon--chevron-with-circle-left:before {
  content: "\e633";
}
.icon--chevron-with-circle-right:before {
  content: "\e634";
}
.icon--chevron-with-circle-up:before {
  content: "\e635";
}
.icon--cloud:before {
  content: "\e636";
}
.icon--controller-fast-forward:before {
  content: "\e637";
}
.icon--controller-jump-to-start:before {
  content: "\e638";
}
.icon--controller-next:before {
  content: "\e639";
}
.icon--controller-paus:before {
  content: "\e63a";
}
.icon--controller-play:before {
  content: "\e63b";
}
.icon--controller-record:before {
  content: "\e63c";
}
.icon--controller-stop:before {
  content: "\e63d";
}
.icon--controller-volume:before {
  content: "\e63e";
}
.icon--dot-single:before {
  content: "\e63f";
}
.icon--dots-three-horizontal:before {
  content: "\e640";
}
.icon--dots-three-vertical:before {
  content: "\e641";
}
.icon--dots-two-horizontal:before {
  content: "\e642";
}
.icon--dots-two-vertical:before {
  content: "\e643";
}
.icon--download:before {
  content: "\e644";
}
.icon--emoji-flirt:before {
  content: "\e645";
}
.icon--flow-branch:before {
  content: "\e646";
}
.icon--flow-cascade:before {
  content: "\e647";
}
.icon--flow-line:before {
  content: "\e648";
}
.icon--flow-parallel:before {
  content: "\e649";
}
.icon--flow-tree:before {
  content: "\e64a";
}
.icon--install:before {
  content: "\e64b";
}
.icon--layers:before {
  content: "\e64c";
}
.icon--open-book:before {
  content: "\e64d";
}
.icon--resize-100:before {
  content: "\e64e";
}
.icon--resize-full-screen:before {
  content: "\e64f";
}
.icon--save:before {
  content: "\e650";
}
.icon--select-arrows:before {
  content: "\e651";
}
.icon--sound-mute:before {
  content: "\e652";
}
.icon--sound:before {
  content: "\e653";
}
.icon--trash:before {
  content: "\e654";
}
.icon--triangle-down:before {
  content: "\e655";
}
.icon--triangle-left:before {
  content: "\e656";
}
.icon--triangle-right:before {
  content: "\e657";
}
.icon--triangle-up:before {
  content: "\e658";
}
.icon--uninstall:before {
  content: "\e659";
}
.icon--upload-to-cloud:before {
  content: "\e65a";
}
.icon--upload:before {
  content: "\e65b";
}
.icon--add-user:before {
  content: "\e65c";
}
.icon--address:before {
  content: "\e65d";
}
.icon--adjust:before {
  content: "\e65e";
}
.icon--air:before {
  content: "\e65f";
}
.icon--aircraft-landing:before {
  content: "\e660";
}
.icon--aircraft-take-off:before {
  content: "\e661";
}
.icon--aircraft:before {
  content: "\e662";
}
.icon--align-bottom:before {
  content: "\e663";
}
.icon--align-horizontal-middle:before {
  content: "\e664";
}
.icon--align-left:before {
  content: "\e665";
}
.icon--align-right:before {
  content: "\e666";
}
.icon--align-top:before {
  content: "\e667";
}
.icon--align-vertical-middle:before {
  content: "\e668";
}
.icon--archive:before {
  content: "\e669";
}
.icon--area-graph:before {
  content: "\e66a";
}
.icon--attachment:before {
  content: "\e66b";
}
.icon--awareness-ribbon:before {
  content: "\e66c";
}
.icon--back-in-time:before {
  content: "\e66d";
}
.icon--back:before {
  content: "\e66e";
}
.icon--bar-graph:before {
  content: "\e66f";
}
.icon--battery:before {
  content: "\e670";
}
.icon--beamed-note:before {
  content: "\e671";
}
.icon--bell:before {
  content: "\e672";
}
.icon--blackboard:before {
  content: "\e673";
}
.icon--block:before {
  content: "\e674";
}
.icon--book:before {
  content: "\e675";
}
.icon--bowl:before {
  content: "\e676";
}
.icon--box:before {
  content: "\e677";
}
.icon--briefcase:before {
  content: "\e678";
}
.icon--browser:before {
  content: "\e679";
}
.icon--brush:before {
  content: "\e67a";
}
.icon--bucket:before {
  content: "\e67b";
}
.icon--cake:before {
  content: "\e67c";
}
.icon--calculator:before {
  content: "\e67d";
}
.icon--calendar:before {
  content: "\e67e";
}
.icon--camera:before {
  content: "\e67f";
}
.icon--ccw:before {
  content: "\e680";
}
.icon--chat:before {
  content: "\e681";
}
.icon--check:before {
  content: "\e682";
}
.icon--circle-with-cross:before {
  content: "\e683";
}
.icon--circle-with-minus:before {
  content: "\e684";
}
.icon--circle-with-plus:before {
  content: "\e685";
}
.icon--circle:before {
  content: "\e686";
}
.icon--circular-graph:before {
  content: "\e687";
}
.icon--clapperboard:before {
  content: "\e688";
}
.icon--clipboard:before {
  content: "\e689";
}
.icon--clock:before {
  content: "\e68a";
}
.icon--code:before {
  content: "\e68b";
}
.icon--cog:before {
  content: "\e68c";
}
.icon--colours:before {
  content: "\e68d";
}
.icon--compass:before {
  content: "\e68e";
}
.icon--copy:before {
  content: "\e68f";
}
.icon--credit-card:before {
  content: "\e690";
}
.icon--credit:before {
  content: "\e691";
}
.icon--cross:before {
  content: "\e692";
}
.icon--cup:before {
  content: "\e693";
}
.icon--cw:before {
  content: "\e694";
}
.icon--cycle:before {
  content: "\e695";
}
.icon--database:before {
  content: "\e696";
}
.icon--dial-pad:before {
  content: "\e697";
}
.icon--direction:before {
  content: "\e698";
}
.icon--document:before {
  content: "\e699";
}
.icon--documents:before {
  content: "\e69a";
}
.icon--drink:before {
  content: "\e69b";
}
.icon--drive:before {
  content: "\e69c";
}
.icon--drop:before {
  content: "\e69d";
}
.icon--edit:before {
  content: "\e69e";
}
.icon--email:before {
  content: "\e69f";
}
.icon--emoji-happy:before {
  content: "\e6a0";
}
.icon--emoji-neutral:before {
  content: "\e6a1";
}
.icon--emoji-sad:before {
  content: "\e6a2";
}
.icon--erase:before {
  content: "\e6a3";
}
.icon--eraser:before {
  content: "\e6a4";
}
.icon--export:before {
  content: "\e6a5";
}
.icon--eye:before {
  content: "\e6a6";
}
.icon--feather:before {
  content: "\e6a7";
}
.icon--flag:before {
  content: "\e6a8";
}
.icon--flash:before {
  content: "\e6a9";
}
.icon--flashlight:before {
  content: "\e6aa";
}
.icon--flat-brush:before {
  content: "\e6ab";
}
.icon--folder-images:before {
  content: "\e6ac";
}
.icon--folder-music:before {
  content: "\e6ad";
}
.icon--folder-video:before {
  content: "\e6ae";
}
.icon--folder:before {
  content: "\e6af";
}
.icon--forward:before {
  content: "\e6b0";
}
.icon--funnel:before {
  content: "\e6b1";
}
.icon--game-controller:before {
  content: "\e6b2";
}
.icon--gauge:before {
  content: "\e6b3";
}
.icon--globe:before {
  content: "\e6b4";
}
.icon--graduation-cap:before {
  content: "\e6b5";
}
.icon--grid:before {
  content: "\e6b6";
}
.icon--hair-cross:before {
  content: "\e6b7";
}
.icon--hand:before {
  content: "\e6b8";
}
.icon--heart-outlined:before {
  content: "\e6b9";
}
.icon--heart:before {
  content: "\e6ba";
}
.icon--help-with-circle:before {
  content: "\e6bb";
}
.icon--help:before {
  content: "\e6bc";
}
.icon--home:before {
  content: "\e6bd";
}
.icon--hour-glass:before {
  content: "\e6be";
}
.icon--image-inverted:before {
  content: "\e6bf";
}
.icon--image:before {
  content: "\e6c0";
}
.icon--images:before {
  content: "\e6c1";
}
.icon--inbox:before {
  content: "\e6c2";
}
.icon--infinity:before {
  content: "\e6c3";
}
.icon--info-with-circle:before {
  content: "\e6c4";
}
.icon--info:before {
  content: "\e6c5";
}
.icon--key:before {
  content: "\e6c6";
}
.icon--keyboard:before {
  content: "\e6c7";
}
.icon--lab-flask:before {
  content: "\e6c8";
}
.icon--landline:before {
  content: "\e6c9";
}
.icon--language:before {
  content: "\e6ca";
}
.icon--laptop:before {
  content: "\e6cb";
}
.icon--leaf:before {
  content: "\e6cc";
}
.icon--level-down:before {
  content: "\e6cd";
}
.icon--level-up:before {
  content: "\e6ce";
}
.icon--lifebuoy:before {
  content: "\e6cf";
}
.icon--light-bulb:before {
  content: "\e6d0";
}
.icon--light-down:before {
  content: "\e6d1";
}
.icon--light-up:before {
  content: "\e6d2";
}
.icon--line-graph:before {
  content: "\e6d3";
}
.icon--link:before {
  content: "\e6d4";
}
.icon--list:before {
  content: "\e6d5";
}
.icon--location-pin:before {
  content: "\e6d6";
}
.icon--location:before {
  content: "\e6d7";
}
.icon--lock-open:before {
  content: "\e6d8";
}
.icon--lock:before {
  content: "\e6d9";
}
.icon--log-out:before {
  content: "\e6da";
}
.icon--login:before {
  content: "\e6db";
}
.icon--loop:before {
  content: "\e6dc";
}
.icon--magnet:before {
  content: "\e6dd";
}
.icon--magnifying-glass:before {
  content: "\e6de";
}
.icon--mail:before {
  content: "\e6df";
}
.icon--man:before {
  content: "\e6e0";
}
.icon--map:before {
  content: "\e6e1";
}
.icon--mask:before {
  content: "\e6e2";
}
.icon--medal:before {
  content: "\e6e3";
}
.icon--megaphone:before {
  content: "\e6e4";
}
.icon--menu:before {
  content: "\e6e5";
}
.icon--message:before {
  content: "\e6e6";
}
.icon--mic:before {
  content: "\e6e7";
}
.icon--minus:before {
  content: "\e6e8";
}
.icon--mobile:before {
  content: "\e6e9";
}
.icon--modern-mic:before {
  content: "\e6ea";
}
.icon--moon:before {
  content: "\e6eb";
}
.icon--mouse:before {
  content: "\e6ec";
}
.icon--music:before {
  content: "\e6ed";
}
.icon--network:before {
  content: "\e6ee";
}
.icon--new-message:before {
  content: "\e6ef";
}
.icon--new:before {
  content: "\e6f0";
}
.icon--news:before {
  content: "\e6f1";
}
.icon--note:before {
  content: "\e6f2";
}
.icon--notification:before {
  content: "\e6f3";
}
.icon--old-mobile:before {
  content: "\e6f4";
}
.icon--old-phone:before {
  content: "\e6f5";
}
.icon--palette:before {
  content: "\e6f6";
}
.icon--paper-plane:before {
  content: "\e6f7";
}
.icon--pencil:before {
  content: "\e6f8";
}
.icon--phone:before {
  content: "\e6f9";
}
.icon--pie-chart:before {
  content: "\e6fa";
}
.icon--pin:before {
  content: "\e6fb";
}
.icon--plus:before {
  content: "\e6fc";
}
.icon--popup:before {
  content: "\e6fd";
}
.icon--power-plug:before {
  content: "\e6fe";
}
.icon--price-ribbon:before {
  content: "\e6ff";
}
.icon--price-tag:before {
  content: "\e700";
}
.icon--print:before {
  content: "\e701";
}
.icon--progress-empty:before {
  content: "\e702";
}
.icon--progress-full:before {
  content: "\e703";
}
.icon--progress-one:before {
  content: "\e704";
}
.icon--progress-two:before {
  content: "\e705";
}
.icon--publish:before {
  content: "\e706";
}
.icon--quote:before {
  content: "\e707";
}
.icon--radio:before {
  content: "\e708";
}
.icon--reply-all:before {
  content: "\e709";
}
.icon--reply:before {
  content: "\e70a";
}
.icon--retweet:before {
  content: "\e70b";
}
.icon--rocket:before {
  content: "\e70c";
}
.icon--round-brush:before {
  content: "\e70d";
}
.icon--rss:before {
  content: "\e70e";
}
.icon--ruler:before {
  content: "\e70f";
}
.icon--scissors:before {
  content: "\e710";
}
.icon--share-alternitive:before {
  content: "\e711";
}
.icon--share:before {
  content: "\e712";
}
.icon--shareable:before {
  content: "\e713";
}
.icon--shield:before {
  content: "\e714";
}
.icon--shop:before {
  content: "\e715";
}
.icon--shopping-bag:before {
  content: "\e716";
}
.icon--shopping-basket:before {
  content: "\e717";
}
.icon--shopping-cart:before {
  content: "\e718";
}
.icon--shuffle:before {
  content: "\e719";
}
.icon--signal:before {
  content: "\e71a";
}
.icon--sound-mix:before {
  content: "\e71b";
}
.icon--sports-club:before {
  content: "\e71c";
}
.icon--spreadsheet:before {
  content: "\e71d";
}
.icon--squared-cross:before {
  content: "\e71e";
}
.icon--squared-minus:before {
  content: "\e71f";
}
.icon--squared-plus:before {
  content: "\e720";
}
.icon--star-outlined:before {
  content: "\e721";
}
.icon--star:before {
  content: "\e722";
}
.icon--stopwatch:before {
  content: "\e723";
}
.icon--suitcase:before {
  content: "\e724";
}
.icon--swap:before {
  content: "\e725";
}
.icon--sweden:before {
  content: "\e726";
}
.icon--switch:before {
  content: "\e727";
}
.icon--tablet:before {
  content: "\e728";
}
.icon--tag:before {
  content: "\e729";
}
.icon--text-document-inverted:before {
  content: "\e72a";
}
.icon--text-document:before {
  content: "\e72b";
}
.icon--text:before {
  content: "\e72c";
}
.icon--thermometer:before {
  content: "\e72d";
}
.icon--thumbs-down:before {
  content: "\e72e";
}
.icon--thumbs-up:before {
  content: "\e72f";
}
.icon--thunder-cloud:before {
  content: "\e730";
}
.icon--ticket:before {
  content: "\e731";
}
.icon--time-slot:before {
  content: "\e732";
}
.icon--tools:before {
  content: "\e733";
}
.icon--traffic-cone:before {
  content: "\e734";
}
.icon--tree:before {
  content: "\e735";
}
.icon--trophy:before {
  content: "\e736";
}
.icon--tv:before {
  content: "\e737";
}
.icon--typing:before {
  content: "\e738";
}
.icon--unread:before {
  content: "\e739";
}
.icon--untag:before {
  content: "\e73a";
}
.icon--user:before {
  content: "\e73b";
}
.icon--users:before {
  content: "\e73c";
}
.icon--v-card:before {
  content: "\e73d";
}
.icon--video:before {
  content: "\e73e";
}
.icon--vinyl:before {
  content: "\e73f";
}
.icon--voicemail:before {
  content: "\e740";
}
.icon--wallet:before {
  content: "\e741";
}
.icon--water:before {
  content: "\e742";
}
.icon--px-with-circle:before {
  content: "\e743";
}
.icon--px:before {
  content: "\e744";
}
.icon--basecamp:before {
  content: "\e745";
}
.icon--behance:before {
  content: "\e746";
}
.icon--creative-cloud:before {
  content: "\e747";
}
.icon--dropbox:before {
  content: "\e748";
}
.icon--evernote:before {
  content: "\e749";
}
.icon--flattr:before {
  content: "\e74a";
}
.icon--foursquare:before {
  content: "\e74b";
}
.icon--google-drive:before {
  content: "\e74c";
}
.icon--google-hangouts:before {
  content: "\e74d";
}
.icon--grooveshark:before {
  content: "\e74e";
}
.icon--icloud:before {
  content: "\e74f";
}
.icon--mixi:before {
  content: "\e750";
}
.icon--onedrive:before {
  content: "\e751";
}
.icon--paypal:before {
  content: "\e752";
}
.icon--picasa:before {
  content: "\e753";
}
.icon--qq:before {
  content: "\e754";
}
.icon--rdio-with-circle:before {
  content: "\e755";
}
.icon--renren:before {
  content: "\e756";
}
.icon--scribd:before {
  content: "\e757";
}
.icon--sina-weibo:before {
  content: "\e758";
}
.icon--skype-with-circle:before {
  content: "\e759";
}
.icon--skype:before {
  content: "\e75a";
}
.icon--slideshare:before {
  content: "\e75b";
}
.icon--smashing:before {
  content: "\e75c";
}
.icon--soundcloud:before {
  content: "\e75d";
}
.icon--spotify-with-circle:before {
  content: "\e75e";
}
.icon--spotify:before {
  content: "\e75f";
}
.icon--swarm:before {
  content: "\e760";
}
.icon--vine-with-circle:before {
  content: "\e761";
}
.icon--vine:before {
  content: "\e762";
}
.icon--vk-alternitive:before {
  content: "\e763";
}
.icon--vk-with-circle:before {
  content: "\e764";
}
.icon--vk:before {
  content: "\e765";
}
.icon--xing-with-circle:before {
  content: "\e766";
}
.icon--xing:before {
  content: "\e767";
}
.icon--yelp:before {
  content: "\e768";
}
.icon--dribbble-with-circle:before {
  content: "\e769";
}
.icon--dribbble:before {
  content: "\e76a";
}
.icon--facebook-with-circle:before {
  content: "\e76b";
}
.icon--facebook:before {
  content: "\e76c";
}
.icon--flickr-with-circle:before {
  content: "\e76d";
}
.icon--flickr:before {
  content: "\e76e";
}
.icon--github-with-circle:before {
  content: "\e76f";
}
.icon--github:before {
  content: "\e770";
}
.icon--google-with-circle:before {
  content: "\e771";
}
.icon--google:before {
  content: "\e772";
}
.icon--instagram-with-circle:before {
  content: "\e773";
}
.icon--instagram:before {
  content: "\e774";
}
.icon--lastfm-with-circle:before {
  content: "\e775";
}
.icon--lastfm:before {
  content: "\e776";
}
.icon--linkedin-with-circle:before {
  content: "\e777";
}
.icon--linkedin:before {
  content: "\e778";
}
.icon--pinterest-with-circle:before {
  content: "\e779";
}
.icon--pinterest:before {
  content: "\e77a";
}
.icon--rdio:before {
  content: "\e77b";
}
.icon--stumbleupon-with-circle:before {
  content: "\e77c";
}
.icon--stumbleupon:before {
  content: "\e77d";
}
.icon--tumblr-with-circle:before {
  content: "\e77e";
}
.icon--tumblr:before {
  content: "\e77f";
}
.icon--twitter-with-circle:before {
  content: "\e780";
}
.icon--twitter:before {
  content: "\e781";
}
.icon--vimeo-with-circle:before {
  content: "\e782";
}
.icon--vimeo:before {
  content: "\e783";
}
.icon--youtube-with-circle:before {
  content: "\e784";
}
.icon--youtube:before {
  content: "\e785";
}
