.home__news__title {
	display: block;
	margin:0;
}
.post {
	@include clearfix();
	position: relative;
	margin:1em 0;
	background-color: $gray-light;
}
.post__figure {
	margin:0;
}

.post__header {
	@include clearfix();
	padding:.875rem 1rem;
}

.post__title {
	margin:0;
	font-size: 1.5em;
	//line-height: 1.2;
	// color:$blue-light;
	// a {
	// 	text-decoration: none;
	// 	color: inherit;
	// }
	@media #{$large-up} {
		font-size: 1.75em;
	}
}

.post__time {
	margin:.5em 0 2em;
	display: block;
	color:$blue-dark;
	font-size: .875em;
	line-height: 1;
	font-style: italic;
	font-weight: 700;	
}
.post__bottomlink {
	position: absolute;
	bottom:.875rem;
	left:1rem;
	font-style: italic;
	font-weight: 700;
	font-size: .875em;
	line-height: 1;
}
.post__content {
	display: none;
}
