.thepricetable .pageheader {
  background-image: url('../img/girl.jpg');
}


.pricehead {
  padding: 2em 0;
}
.pricehead__logos {
  text-align: left;
  margin-top: 1em;
  img {
  }
  @media #{$medium-up} {
    text-align: right;
  }
}
.pricehead__title {
  text-transform: uppercase;
  margin-top:0;
}
.priceblock__title {
  text-transform: uppercase;
  margin-bottom: rem-calc(20);
  font-size: 2em;
}

.table--pricelist {
  td,th {
    &:nth-child(2n) {
      text-align: center;
    }
    &:last-child {
      text-align: right;
      white-space: nowrap;
    }
  }
  td {
    font-weight: 700;
  }
  th {
    font-weight: 400;
  }
}

.priceblock {
  margin-bottom: 4em
}
.priceblock__footer {
  margin: 3em 0 0;
  font-size: .75em;
}

.prices__inforow {
  background-color: $gray-xlight;
  padding:4em 0;
}