.thesingleproduct .pageheader {
  background-image: url('../img/csajjalhajozas.jpg');
}
.singleproduct {
 }

.product--single {
  padding-top: 2em;
  padding-bottom: 4em;
}

.product___content {

}

.table--productdata {
  tr > td:last-child {
    font-weight: 700;
  }
}

.product__photo {
  margin-top: 2em;
  position: relative;
  @media #{$medium-up} {
    margin-top: 0;
  }
}

.product__photo__imglink {
  position: relative;
  display: block;
}

.product__thumbs {
  @include clearfix();
  margin-top: 1em;
  a {
    border:1px solid $gray-light;
    display:block;
    width:22%;
    float: left;
    margin-right: 2%;
    padding:1%;
    &:hover,&:focus {
      border-color: $blue-light;
    }
  }
}

.productlinks {
  padding:4em 0;
  background-color: $blue-dark;
  color:#fff;
  font-weight: 900;
  margin-bottom: 2em;
}
.productlinks__link {
  display: block;
  padding:.5em 0;
  font-size: 1.5em;
  line-height: 1;
  text-transform: uppercase;
  color:#fff;
  text-align: center;
  &:hover, &:focus {
    text-decoration: none;
    color:$blue-light;
  }
}

.productlabel {
  @include hide-text();
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  position: absolute;

}

.productlabel--leanburn {
  background-image: url('../img/lb.png');
  width:7em;
  height:2em;
  bottom:.5em;
  left:.5em;
}


