.pageheader--productlister {
	background-image: url('../img/hero_motor.jpg');


}

.thetriad--productlister {
	// margin-top: -6em;
	// @media #{$medium-up} {
	// 	margin-top: -6em;
	// }
	// @media #{$large-up} {
	// 	margin-top: -10em;
	// }
}

.productlister__darkrow {
	//background-color: $blue-dark;
	@include clearfix();
}
.ultimatelogos {
	padding-top:4em;
	padding-bottom: 4em;
}

.productblock {
	@include clearfix();
	background-color: $gray-xlight;
	border-bottom: 5px solid #fff;
	padding:0 0 8em;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	&.content {
		background-color: transparent;
		border-bottom: none;
	}
	
}

.productblock--01 {
 background-image: url('../img/bg1.jpg');
}

.productblock--02 {
	background-image: url('../img/bg3.jpg');
}
.productblock--03 {
	background-image: url('../img/bg4.jpg');
}

.productblock__title {
	text-transform: uppercase;
	font-size: 2.5em;
	line-height:1;
	font-family: $suzukipro;
	font-weight: 900;
	margin:1em 0 .25em;
	color:$blue-light;
	@media #{$medium-up} {
		font-size: 4em;
	}
	@media #{$large-up} {
		font-size: 5em;
	}
	@media #{$xxlarge-up} {
		font-size: 6em;
	}
}


.productlist__elem {
	//text-align: center;
	.eleminner {
		padding: 2rem 0 0;
	}
	@media print {
		width:25%;
	}
}

.productlist__elem__title {
	font-size: 1.5em;
	display: block;
	margin-top: 1rem;
	&:hover {
		background-color: $blue-light;
	}
}


.productlist__elem__imglink {
	position: relative;
	display: block;
}

.related {

	padding:4em 0;
}