.thevideos .pageheader {
  background-image: url('../img/tiles.jpg');
}

.videos__head {
  padding: 3em 0 2em; 
  
  h1 {
    margin-top: 0;
    text-transform: uppercase;
  }

  p {
    //margin-bottom: 0;
  }
}

